.DS_Store
code/cavity/para_nn.jld2
code/creep/log
code/creep/ctr.jld2
code/creep/rarefied/ctr.jld2
code/creep/rarefied/log
code/creep/transition/log
code/creep/transition/ctr.jld2
code/creep/continuum/ctr.jld2
code/creep/continuum/log
code/creep/finemesh/ctr.jld2
code/creep/finemesh/log
code/creep/*.jld2
code/creep/profile/ctr.jld2
code/creep/profile/log
*.jld2
log
bgknet/sample.csv
